<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>P5_KY7463_DH1317_Reversi</display-name>
  <servlet>
    <servlet-name>ReversiServlet</servlet-name>
    <servlet-class>edu.metrostate.ics425.p5.ky7463.dh1317.controller.ReversiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReversiServlet</servlet-name>
    <url-pattern>/ReversiServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>